<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.1/css/bootstrap.min.css}">
	<title>Posts System</title>
</head>
<body class="text-center">

	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 10px;">
 		<a class="navbar-brand" th:href="@{/}">Posts System</a>
 		<div class="collapse navbar-collapse d-flex justify-content-between" id="conteudoNavbarSuportado">
   			<ul class="navbar-nav mr-auto">
   				<li class="nav-item active">
        			<a class="nav-link" th:href="@{/}">Home</a>
      			</li>
     			<li class="nav-item">
       				<a class="nav-link" th:href="@{/{userId}/posts (userId = ${user.id})}">Your Posts</a>
     			</li>
     			<li class="nav-item">
       				<a class="nav-link" th:href="@{/new-post}">New Post</a>
     			</li>
     			<li>
     				<a class="nav-link" th:href="@{/login?logout}">Logout</a>
     			</li>
   			</ul>	
	   		<form class="form-group" th:action=@{/search} th:method="post">
	     		<input type="search" name="search" placeholder="Post info" class="form-control" style="display: inline; max-width: 250px; border-radius: 5px 5px 5px 5px;"/>
				<button type="submit" class="btn btn-outline-warning input-group-append" style="border-radius: 5px 5px 5px 5px; margin: 0 30px 3px 10px">Search</button>
	   		</form>
 		</div>
	</nav>
	<br>
	<div class="align-items-center">
		<h1 class="display 4" th:text="${post.title}"></h1>
	</div>
	<br>
	<div class="container" style="word-wrap: break-word;">
		
		<div class="alert alert-secondary">
			<div>
				<pre style="margin-bottom: 0px;"><span th:text="${post.author}" style="font-size: 22px;"></span></pre>
				<small th:text="${post.date.getDayOfMonth()}"></small><small>/</small><small th:text="${post.date.getMonthValue()}"></small><small>/</small><small th:text="${post.date.getYear()}"></small>  
	 			<small th:text="${post.date.getHour()}"></small>:<small th:text="${post.date.getMinute()}"></small> 
			</div>
			<hr>
			<div>
				<p th:text="${post.body}"></p>
			</div>
		</div>
		<br>
		<br>
		<div>
			<h3>Comments</h3>
		</div>
		<br>
		<div th:each="comment : ${comments}" class="alert alert-light">
			<div>
				<pre style="margin-bottom: 0px;"><span th:text="${comment.author}" style="font-size: 19px;"></span></pre> 
				<small th:text="${comment.date.getDayOfMonth()}"></small><small>/</small><small th:text="${comment.date.getMonthValue()}"></small><small>/</small><small th:text="${comment.date.getYear()}"></small>  
				<small th:text="${comment.date.getHour()}"></small>:<small th:text="${comment.date.getMinute()}"></small>
			</div>
			<hr> 
			<div>
				<p th:text="${comment.comment}"></p>
			</div>	
		</div>
		<br>
		<br>
		<form th:action="@{/post/{postId}/comment (postId = ${post.id})}" th:method="post" class="input-group">
			<input class="form-control" type="text" name="comment" placeholder="Comment" style="border-radius: 5px 0 0 5px;"/>
			<button type="submit" class="btn btn-success input-group-append" style="border-radius: 0 5px 5px 0;">Comment</button>
		</form>
	</div>
	<br>
	<p th:each="error : ${errors}" th:text="${error.getDefaultMessage()}" class="alert alert-danger" style="width: 500px; margin-left: auto; margin-right: auto;"></p>
	<br>
	<br>
	<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/2.9.2/umd/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/5.0.1/js/bootstrap.min.js}"></script>
</body>
</html>